html, body{
	height:100%;
  	min-height: 400px;
  	overflow-y: hidden !important;
}
.floor{
	background-color: #B1AFE4;
	display: flex;
  	height: 100%;
  	align-items: center;
  	justify-content: center;
  	
}
.frame{
	position: relative;
}
.score{
	position: absolute;
	left: 10;
	font-size: 20;
	font-weight: bold;
	color: #68C44F;
	text-shadow: 1px 2px white;
}
.best-score{
	position: absolute;
	right: 10;
	font-size: 20;
	font-weight: bold;
	color: #68C44F;
	text-shadow: 1px 2px white;
}
#text{
	position: absolute;
	left: 10;
	top: 25;
	font-size: 20;
	font-weight: bold;
	color: #68C44F;
	text-shadow: 1px 2px white;
}
#text-best{
	position: absolute;
	right: 10;
	top: 25;
	font-size: 20;
	font-weight: bold;
	color: #68C44F;
	text-shadow: 1px 2px white;
}

canvas{
    box-shadow: 0 0 3px 1px #68C44F, 0 0 10px 2px #000;
    display: block;
    border-radius: 5px;
}
